/*
 * Data mining course theme for reveal.js.
*/

@import "../template/mixins";

// Include theme-specific fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:400,800,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

// Primary color scheme
$backgroundColor: #eee;
$mainColor: #111;
$mainFont: 'Neuton', 'Open Sans', sans-serif;
$mainFontSize: 30px;
$accentColor: #6352e7;
$navHoverColor: lighten( $accentColor, 20% );

// headings
$headingColor: #111;
$headingMargin: 0 0 20px 0;
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$headingLineHeight: 0.9em;
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #e7ad52;
$selectionBackgroundColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}

// Theme template ------------------------------
@import "../template/class-theme";
// ---------------------------------------------
.contain-to-grid {
  width: 100%;
  background: #111; 
}

.top-bar {
  background: #111;
}

.reveal h1 h2 h3 h4 h5 h6 #title-slide {
  padding: 5px;
}

.reveal p {
  text-align: left;
  font-size: 40px; 
  //border: 5px solid #111;
  padding: 30px;
  margin: 5px 50px 5px 50px;
}

.reavel ul li {
  text-align: left;
}

.reveal section img {
  border: none;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
	border-top-color: $accentColor;
}

// Modification of Foundation navigation bar
.top-bar {
  background: $mainColor;
}

.top-bar-section ul li {
  background: $mainColor;
}

.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: $backgroundColor;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-family: $headingFont;
  font-size: 0.8125rem;
  font-weight: lighter;
  text-transform: none;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 45px;
  color: $backgroundColor;
  background: $accentColor;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  color: $mainColor;
  background: $navHoverColor;
}

img#logo-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

figure {

  display: inline-block;
  border: 1px dotted gray;
  margin: 20px; /* adjust as needed */

}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
