/*
 * Data mining course theme for reveal.js.
*/

@import "../template/mixins";

// Include theme-specific fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Neuton:400,800,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

// Primary color scheme
$backgroundColor: #eee;
$mainColor: #111;
$mainFont: 'Neuton', 'Open Sans', sans-serif;
$mainFontSize: 30px;
$accentColor: #6352e7;
$navHoverColor: lighten( $accentColor, 20% );

// headings
$headingColor: #111;
$headingMargin: 0 0 20px 0;
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$headingLineHeight: 1.2em;
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #e7ad52;
$selectionBackgroundColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
    background: $backgroundColor;
}

// Theme template ------------------------------
@import "../template/class-theme";
// ---------------------------------------------
.contain-to-grid {
    width: 100%;
    background: $mainColor;
}

.reveal p {
    text-align: left;
    font-size: 40px; 
    //border: 5px solid #111;
    padding: 20px 30px;
    margin: 0 50px;
}

.reveal ul li {
    text-align: left;
}

.reveal section img {
    border: none;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
    border-top-color: $accentColor;
}

// Modification of Foundation navigation bar
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: $mainColor;
}

.top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: $backgroundColor;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-family: $headingFont;
    font-size: 0.8125rem;
    font-weight: lighter;
    text-transform: none;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    color: $backgroundColor;
    background: $accentColor;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
    color: $mainColor;
    background: $navHoverColor;
}

img#logo-image {
    height: 37px;
    margin-top: 4px;
    background-repeat: no-repeat;
}

figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
}

figure img {
    vertical-align: top;
}

figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

/*
 * Make text on postcard slides slightly more legible by decreasing the image
 * opacity and adding a text-shadow.
 */
.reveal .slide-background.present[data-background-hash^="images/data_miner"] {
    opacity: 0.7;
}

.reveal [data-background^="images/data_miner"] h2 {
    text-shadow: 1px 2px 0 transparentize(#dda, 0.3);
}

.reveal [data-background^="images/data_miner"] h4 {
    text-shadow: 0 1px 0 transparentize(#dda, 0.3);
}

.reveal [data-background^="images/data_miner"] h4 a:link {
    text-shadow: 0 -1px 0 transparentize(#441, 0.3);
}

/*
 * Instead of using align=right, use Reveal's ".right" class. Add onto it by
 * including some left margin for any images or figures floated right.
 */
.reveal section img.right,
.reveal section figure.right {
    margin-left: 5%;
}

.reveal table {
    margin-left: auto;
    margin-right: auto;
}

.reveal table td,
.reveal table th {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.reveal table td.number {
    text-align: right;
}

.reveal table caption {
    caption-side: bottom;
}
